.content-center {
  text-align: center;
  margin: 10px;
}
.landing-welcome{
  width: 40%
}
/* sc-bCwfaz hPNTLI threekit-react tk-input-buttons hoodie-finish tk-buttons-content */
.sc-dvXYtj {
  justify-content: center;
}
.bsXUgw {
  justify-content: center;
}
#color-options-box {
  position: absolute;
  top: 30vh;
  left: 5px;
  padding: 5px;
  height: 50vh;
}
#color-options-box > * {
  justify-content: space-evenly !important;
  flex-direction: column !important;
}

#logo-options-box {
  position: absolute;
  top: 30vh;
  right: 5px;
  height: 50vh;
}

#logo-options-box > * {
  justify-content: space-evenly !important;
  flex-direction: column !important;
}

#logo-options-box > * > * {
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 600px) {
  #logo-options-box {
    right: 10vw;
  }
  #color-options-box {
    left: 10vw;
  }
}
/* @media only screen and (min-width: 1000px) {
  .tk-buttons-content {
    right: 30vw;
  }
  .tk-color-swatch-content {
    left: 30vw;
  }
} */

.sc-iqAclL {
  z-index: 1000000;
}
.sc-bYwzuL {
  border: 1px solid black !important;
  z-index: 1000000;
}
.App-logo {
  height: 40vmin;
}

#header {
  background: #ffffff;
  background-image: url(https://tk-dev-forum.s3.dualstack.us-east-1.amazonaws.com/original/1X/17d4a1229e5c54121b05fafbaae464a0c2f2e10f.png);
  background-repeat: no-repeat;
  background-size: auto 30px;
  background-position-y: center;
  background-position-x: 30px;
}

.App-link {
  color: #09d3ac;
}
.tk-player {
  margin: auto;
  width: 50% !important;
  height: 70vh !important;
  min-height: 0px !important;
}

.player___25Zg2 {
  height: 100% !important;
}

#threekit-player {
  min-height: 0px !important;
  height: 100% !important;

}
.ant-layout {
  background-color: #ffffff;

  /* background-size:auto */
  /* background-repeat: no-repeat; */

}

.ant-layout-content{
  background-image: url('https://solutions-engineering.s3.amazonaws.com/astro/background-gradient-stump.png');
  background-position: bottom; 
  background-size: cover;
}

.control-btn{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px
}
.tk-input-color-swatch{
  border-radius: 5px!important
}
.ant-tooltip{
  z-index: 1000000
}

.button-container{
  clear:both
}

.app-footer{
  background-color: #ffffff;
  width: 100vw;
  height: 5%;
  text-align: center;


}
.app-footer:before{

  border-top-left-radius: 500px 40px;
  border-top-right-radius: 500px 40px;
}

.submit-form{
  background-color: #ffffff;
}