.content {
  text-align: center;
  margin: 10px;
}
/* sc-bCwfaz hPNTLI threekit-react tk-input-buttons hoodie-finish tk-buttons-content */
.sc-dvXYtj {
  justify-content: center;
}
.bsXUgw {
  justify-content: center;
}
.tk-color-swatch-content {
  justify-content: center !important;
}

.tk-buttons-content {
  justify-content: center !important;
}
.App-logo {
  height: 40vmin;
}

#header {
  background: #ffffff;
  background-image: url(https://tk-dev-forum.s3.dualstack.us-east-1.amazonaws.com/original/1X/17d4a1229e5c54121b05fafbaae464a0c2f2e10f.png);
  background-repeat: no-repeat;
  background-size: auto 30px;
  background-position-y: center;
  background-position-x: 30px;
}

.App-link {
  color: #09d3ac;
}
.tk-player {
  margin: auto;
  width: 70vw !important;
  height: 70vh !important;
  min-height: 0px !important;
}

.player___25Zg2 {
  height: 100% !important;
}

#threekit-player {
  min-height: 0px !important;
  height: 100% !important;
}
.ant-layout {
  background-color: #e2e2e2;
}
